---
import { uid, QuestionTypes } from "../";

interface Props {
  type: QuestionTypes;
  answer: number | boolean | string[] | number[];
  options?: string[];
}

const name = uid();
const { SINGLE, MULTIPLE, BINARY, COMPLETE } = QuestionTypes;
var { type, answer, options } = Astro.props;

if (type == BINARY) {
  options = ['True', 'False'];
  answer = +!answer;
}
---
<div data-type={type} data-answer={answer} class="quiz-question">
  <p><slot/></p>
  { 
  type != COMPLETE &&
  <div>
    {
      options.map(
        (x, i) => 
        <div>
          <input
            type={(type == SINGLE || type == BINARY) ? "radio" : "checkbox"}
            name={name}
            value={i}
          />
          <>{x}</>
        </div>
      )
    }
  </div>
  }
</div>
