---
interface Props {
  redColor?: string;
  greenColor?: string;
  buttonLabel?: string;
}

const { 
  redColor = '#fb2c36', 
  greenColor = '#089000', 
  buttonLabel = 'Submit' 
} = Astro.props;
---
<section 
  class="quiz"
  data-red={redColor}
  data-green={greenColor}
>
  <slot/>
  <footer>
    <button aria-label="Submit Quiz">{buttonLabel}</button>
    <output aria-live="polite"></output>
  </footer>
</section>
<script>
document.querySelectorAll(".quiz").forEach(quiz => {
  const questions = quiz.querySelectorAll(".quiz-question");
  const button = quiz.querySelector("footer button");
  const output = quiz.querySelector("footer output");

  button.addEventListener("click", () => {
    let count = 0;

    questions.forEach(question => {
      let { type, answer } = question.dataset;
      let answers = question.querySelectorAll(`input${type > 2 ? "[type=text]" : ":checked"}`);
      let userAnswer = Array.from(answers).map(input => input.value).join();

      if (type > 2)
        userAnswer = userAnswer.normalize('NFD')
                               .replace(/[\u0300-\u036f]/g, "")
                               .toLowerCase()
                               .trim()

      let p = question.children[0];
      let ok = answer == userAnswer;
      
      p.style.color = quiz.dataset[ok ? 'green' : 'red'];
      count += ok;
    });

    output.textContent = `⭐ ${count}/${questions.length} - Your Score!`;
  });
});
</script>
